parameters:
    level: 4
    paths:
        - src
    bootstrapFiles:
        - phpstan-bootstrap.php
    ignoreErrors:
        - '#(.*)Symfony\\Contracts\\EventDispatcher\\Event(DispatcherInterface)?(.*)#'
        - '~^Method Doctrine\\DBAL(\\.*)?Connection::query\(\) invoked with \d+ parameters?, 0 required\.\z~'

includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
