parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$segments of class CustomerManagementFrameworkBundle\\\\CustomerList\\\\Filter\\\\CustomerSegment constructor expects array\\<Pimcore\\\\Model\\\\DataObject\\\\CustomerSegment\\>, array\\<int\\<0, max\\>, CustomerManagementFrameworkBundle\\\\Model\\\\CustomerSegmentInterface\\> given\\.$#"
			reportUnmatched: false
			count: 2
			path: src/CustomerList/SearchHelper.php

		-
			message: "#^Parameter \\#1 \\$segments of class CustomerManagementFrameworkBundle\\\\CustomerList\\\\Filter\\\\CustomerSegment constructor expects array\\<Pimcore\\\\Model\\\\DataObject\\\\CustomerSegment\\>, array\\<int, CustomerManagementFrameworkBundle\\\\Model\\\\CustomerSegmentInterface\\> given\\.$#"
			reportUnmatched: false
			count: 2
			path: src/CustomerList/SearchHelper.php

		-
			message: "#^Call to function is_object\\(\\) with string will always evaluate to false\\.$#"
			count: 1
			path: src/CustomerView/DefaultCustomerView.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/Factory.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Filter/ExportActivitiesFilterParams.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Filter/ExportCustomersFilterParams.php

		-
			message: "#^Call to an undefined static method Pimcore\\\\Model\\\\DataObject\\\\Concrete\\:\\:getProfilingConsent\\(\\)\\.$#"
			count: 1
			path: src/Model/AbstractCustomer.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Model/AbstractObjectActivity.php

		-
			message: "#^Else branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: src/Model/Activity/GenericActivity.php

		-
			message: "#^Elseif branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: src/Model/Activity/GenericActivity.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Model/Activity/GenericActivity.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Model/Activity/TrackedUrlActivity.php

		-
			message: "#^PHPDoc type CustomerManagementFrameworkBundle\\\\Model\\\\ActivityList\\\\DefaultMariaDbActivityList\\\\MariaDbDao of property CustomerManagementFrameworkBundle\\\\Model\\\\ActivityList\\\\DefaultMariaDbActivityList\\:\\:\\$dao is not covariant with PHPDoc type Pimcore\\\\Model\\\\Dao\\\\AbstractDao\\|null of overridden property Pimcore\\\\Model\\\\AbstractModel\\:\\:\\$dao\\.$#"
			count: 1
			path: src/Model/ActivityList/DefaultMariaDbActivityList.php

		-
			message: "#^Property CustomerManagementFrameworkBundle\\\\Model\\\\ActivityList\\\\DefaultMariaDbActivityList\\:\\:\\$dao \\(CustomerManagementFrameworkBundle\\\\Model\\\\ActivityList\\\\DefaultMariaDbActivityList\\\\MariaDbDao\\) does not accept CustomerManagementFrameworkBundle\\\\Model\\\\ActivityList\\\\DefaultMariaDbActivityList\\\\MySqlDao\\.$#"
			count: 1
			path: src/Model/ActivityList/MySqlActivityList.php

		-
			message: "#^PHPDoc type CustomerManagementFrameworkBundle\\\\Model\\\\SegmentAssignmentInterface\\|null of property CustomerManagementFrameworkBundle\\\\Model\\\\SegmentAssignment\\\\SegmentAssignment\\\\Dao\\:\\:\\$model is not covariant with PHPDoc type Pimcore\\\\Model\\\\AbstractModel of overridden property Pimcore\\\\Model\\\\Dao\\\\AbstractDao\\:\\:\\$model\\.$#"
			count: 1
			path: src/Model/SegmentAssignment/SegmentAssignment/Dao.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: src/Newsletter/ProviderHandler/Mailchimp/CliSyncProcessor.php

		-
			message: "#^Call to an undefined method CustomerManagementFrameworkBundle\\\\RESTApi\\\\SegmentsOfCustomerHandler\\:\\:createRoute\\(\\)\\.$#"
			count: 1
			path: src/RESTApi/SegmentsOfCustomerHandler.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: src/SegmentManager/SegmentBuilderExecutor/DefaultSegmentBuilderExecutor.php

		-
			message: "#^Negated boolean expression is always true\\.$#"
			count: 2
			path: src/SegmentManager/SegmentBuilderExecutor/DefaultSegmentBuilderExecutor.php

		-
			message: "#^Call to an undefined method Pimcore\\\\Model\\\\DataObject\\\\Data\\\\ObjectMetadata\\:\\:getApplication_counter\\(\\)\\.$#"
			count: 1
			path: src/SegmentManager/SegmentExtractor/DefaultSegmentExtractor.php

		-
			message: "#^Call to an undefined method Pimcore\\\\Model\\\\DataObject\\\\Data\\\\ObjectMetadata\\:\\:getApplication_counter\\(\\)\\.$#"
			count: 1
			path: src/SegmentManager/SegmentMerger/DefaultSegmentMerger/MetadataFiller.php

		-
			message: "#^Call to an undefined method Pimcore\\\\Model\\\\DataObject\\\\Data\\\\ObjectMetadata\\:\\:getCreated_timestamp\\(\\)\\.$#"
			count: 1
			path: src/SegmentManager/SegmentMerger/DefaultSegmentMerger/MetadataFiller.php

		-
			message: "#^Call to an undefined method Pimcore\\\\Model\\\\DataObject\\\\Data\\\\ObjectMetadata\\:\\:setApplication_counter\\(\\)\\.$#"
			count: 1
			path: src/SegmentManager/SegmentMerger/DefaultSegmentMerger/MetadataFiller.php

		-
			message: "#^Call to an undefined method Pimcore\\\\Model\\\\DataObject\\\\Data\\\\ObjectMetadata\\:\\:setCreated_timestamp\\(\\)\\.$#"
			count: 1
			path: src/SegmentManager/SegmentMerger/DefaultSegmentMerger/MetadataFiller.php

		-
			message: "#^Call to an undefined method Pimcore\\\\Model\\\\DataObject\\\\Data\\\\ObjectMetadata\\:\\:getApplication_counter\\(\\)\\.$#"
			count: 2
			path: src/Targeting/ActionHandler/ApplyTargetGroupsFromSegments.php

		-
			message: "#^Property CustomerManagementFrameworkBundle\\\\Model\\\\ActivityList\\\\DefaultMariaDbActivityList\\\\MySqlDao\\:\\:\\$model \\(CustomerManagementFrameworkBundle\\\\Model\\\\ActivityList\\\\MySqlActivityList\\) does not accept Pimcore\\\\Model\\\\AbstractModel\\.$#"
			count: 1
			path: src/Model/ActivityList/DefaultMariaDbActivityList/MySqlDao.php

		-
			message: "#^Property CustomerManagementFrameworkBundle\\\\Model\\\\ActivityList\\\\DefaultMariaDbActivityList\\\\MariaDbDao\\:\\:\\$model \\(CustomerManagementFrameworkBundle\\\\Model\\\\ActivityList\\\\DefaultMariaDbActivityList\\) does not accept Pimcore\\\\Model\\\\AbstractModel\\.$#"
			count: 1
			path: src/Model/ActivityList/DefaultMariaDbActivityList/MariaDbDao.php
