parameters:
    level: 4
    paths:
        - src
    bootstrapFiles:
        - phpstan-bootstrap.php
    stubFiles:
        - stubs/AccountNotLinkedException.stub
        - stubs/OAuthUtils.stub

includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - phpstan-baseline.neon
