parameters:
    level: 4
    paths:
        - src
    bootstrapFiles:
        - phpstan-bootstrap.php
    ignoreErrors:
        - '~^Method Doctrine\\DBAL(\\.*)?Connection::query\(\) invoked with \d+ parameters?, 0 required\.\z~'
        - '~^Method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface\:\:dispatch\(\) invoked with 2 parameters, 1 required\.$~'
    stubFiles:
        - stubs/AbstractListing.stub
        - stubs/AccountNotLinkedException.stub
        - stubs/ElementInterface.stub
        - stubs/OAuthUtils.stub
        - stubs/TargetGroup.stub
        - stubs/TokenInterface.stub
        - stubs/UserInterface.stub

includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - phpstan-baseline-pimcore-6-9.neon
