parameters:
    level: 5
    paths:
        - src
    bootstrapFiles:
        - phpstan-bootstrap.php
    excludePaths:
            - src/CustomReport/Adapter/TermSegmentBuilderBase.php
includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - phpstan-baseline.neon
