includes:
    - phpstan.neon

parameters:
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		-
			message: "#Call to an undefined static method Pimcore\\\\Db\\\\Helper\\:\\:quoteDataIdentifiers\\(\\)\\.#"
			count: 1
			path: src/ActivityStore/MariaDb.php
		-
			message: "#Call to an undefined static method Pimcore\\\\Db\\\\Helper\\:\\:quoteDataIdentifiers\\(\\)\\.#"
			count: 1
			path: src/ActivityStore/SqlActivityStore.php
		-
			message: "#Call to an undefined static method Pimcore\\\\Db\\\\Helper\\:\\:quoteDataIdentifiers\\(\\)\\.#"
			count: 2
			path: src/Model/ActionTrigger/Rule/Dao.php
		-
			message: "#^Comparison operation \"\\>\\=\" between 10 and 11 is always false\\.$#"
			count: 1
			path: src/Installer.php
		-
			message: "#^Comparison operation \"\\>\\=\" between 10 and 11 is always false\\.$#"
			count: 1
			path: src/Model/ActivityList/ActivityListInterface.php
		-
			message: "#^Call to an undefined static method CustomerManagementFrameworkBundle\\\\CustomReport\\\\Adapter\\\\TermSegmentBuilderBase\\:\\:getColumns\\(\\)\\.$#"
			count: 1
			path: src/CustomReport/Adapter/TermSegmentBuilder.php
		-
			message: "#^Access to an undefined property CustomerManagementFrameworkBundle\\\\CustomReport\\\\Adapter\\\\TermSegmentBuilder\\:\\:\\$config\\.$#"
			count: 2
			path: src/CustomReport/Adapter/TermSegmentBuilder.php
		-
			message: "#^Call to an undefined method CustomerManagementFrameworkBundle\\\\CustomReport\\\\Adapter\\\\TermSegmentBuilder\\:\\:buildQueryString\\(\\)\\.$#"
			count: 1
			path: src/CustomReport/Adapter/TermSegmentBuilder.php

		-
		    message: "#^Elseif condition is always true\\.$#"
          	count: 1
          	path: src/Newsletter/ProviderHandler/Mailchimp/CustomerExporter/BatchExporter.php

