#pimcore_menu_cmf {
    background-image: url(/pimcore/static6/img/flat-color-icons/contacts.svg) !important;
}

.pimcore_icon_activities {
    background: url(/pimcore/static6/img/flat-color-icons/sports_mode.svg) center center no-repeat !important;
}

.pimcore_icon_customers {
    background: url(/bundles/pimcorecustomermanagementframework/icons/customer.svg) center center no-repeat !important;
}
.pimcore_icon_customerduplicates {
    background: url(/pimcore/static6/img/flat-color-icons/copy.svg) center center no-repeat !important;
}

.pimcore_icon_customerautomationrules {
    background: url(/pimcore/static6/img/flat-color-icons/services.svg) center center no-repeat !important;
}

.plugin_cmf_icon_rule_enabled {
    background: url("/pimcore/static6/img/flat-color-icons/publish.svg") no-repeat scroll left center transparent !important;
}
.plugin_cmf_icon_rule_disabled {
    background: url("/pimcore/static6/img/flat-color-icons/cancel.svg") no-repeat scroll left center transparent !important;
}


/** Customer Automation Rules Tabs **/
.plugin_cmf_icon_rule_settings {
    background: url("/pimcore/static6/img/flat-color-icons/settings.svg") no-repeat scroll left center transparent !important;
}
.plugin_cmf_icon_rule_triggers {
    background: url("/pimcore/static6/img/flat-color-icons/phone.svg") no-repeat scroll left center transparent !important;
}
.plugin_cmf_icon_rule_conditions {
    background: url("/pimcore/static6/img/flat-color-icons/binoculars.svg") no-repeat scroll left center transparent !important;
}
.plugin_cmf_icon_rule_actions {
    background: url("/pimcore/static6/img/flat-color-icons/flash_on.svg") no-repeat scroll left center transparent !important;
}

/** Triggers & Actions **/

.plugin_cmf_icon_actiontriggerrule_NewActivity {
    background: url(/pimcore/static6/img/flat-color-icons/sports_mode.svg) center center no-repeat !important;
}

.plugin_cmf_icon_actiontriggerrule_ExecuteSegmentBuilders  {
    background: url(/bundles/pimcorecustomermanagementframework/icons/segment.svg) center center no-repeat !important;
}

.plugin_cmf_icon_actiontriggerrule_Cron {
    background: url(/pimcore/static6/img/flat-color-icons/clock.svg) center center no-repeat !important;
}

.plugin_cmf_icon_actiontriggerrule_CountActivities {
    background: url(/pimcore/static6/img/flat-color-icons/sports_mode.svg) center center no-repeat !important;
}

.plugin_cmf_icon_actiontriggerrule_AddSegment,.plugin_cmf_icon_actiontriggerrule_Segment {
    background: url(/bundles/pimcorecustomermanagementframework/icons/segment.svg) center center no-repeat !important;
}

.plugin_cmf_icon_actiontriggerrule_ChangeFieldValue,.plugin_cmf_icon_actiontriggerrule_Customer {
    background: url(/bundles/pimcorecustomermanagementframework/icons/customer.svg) center center no-repeat !important;
}

.pimcore_icon_newsletter_enqueue_all_customers {
    background: url(/pimcore/static6/img/flat-color-icons/address_book.svg) center center no-repeat !important;
}

#pimcore_bundle_customerManagementFramework_newsletter_queue_status {
    background-image: url(/pimcore/static6/img/flat-color-icons/address_book.svg) !important;
    filter: grayscale(0%) !important;
    -webkit-filter: grayscale(0%) !important;
    position: relative;
    padding-bottom: 20px;
    height: 55px;
}

#pimcore_bundle_customerManagementFramework_newsletter_queue_status_count {
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 8pt;
}


.plugin_cmf_icon_export_action {
    background: url("/pimcore/static6/img/flat-color-icons/export.svg") center center no-repeat !important;
}
