@import 'admin-lte';

.overview-data-table {
    td,
    th {
        padding: 0 30px 0 0;

        &:last-of-type {
            padding-right: 0;
        }
    }

    th {
        color: #999;
        font-size: 12px;
    }
}

#searchBar {
    .help-block {
        h4 {
            font-size: 16px;
            margin: 15px 0 5px 0;
        }

        margin-bottom: 0;

        &.help-block-toggle {
            margin-top: 10px;
        }

        dl {
            margin-bottom: 0;

            dd {
                margin-bottom: 3px;
            }
        }
    }

    #searchBarExamples {
        code {
            margin-right: 3px;
            padding: 4px 8px;
        }
    }
}

.duplicates-item {
    border-bottom: 20px solid #ecf0f5;
    background-color: #fff;
}

.select2-selection__clear {
    display: none;
}
.select2-selection__rendered {
    text-align: left;
}

.form-filter-operator {
    font-size: 12px;;
    color: silver;
    border: 1px solid silver;
    margin-top: 2px;
    margin-left: 10px;
    margin-bottom: 4px;
  
table.dataTable thead, table.dataTable thead, table.dataTable thead, table.dataTable thead, table.dataTable thead {
    cursor: pointer;
    position: relative;
}

table.dataTable thead .sorting, table.dataTable thead .sortingASC, table.dataTable thead .sortingDESC {
    display: block;
    color: #1e1f26 ;
}

table.dataTable thead .sortingASC, table.dataTable thead .sortingDESC {
    color: #337ab7;
}

table.dataTable thead .sorting:after, table.dataTable thead .sortingASC:after, table.dataTable thead .sortingDESC:after {
    position: absolute;
    top: 2px;
    right: 3px;
    display: block;
    font-family: 'Glyphicons Halflings';
    opacity: 0.8;
}

table.dataTable thead .sorting:after {
    opacity: 0.2;
    content: "\e150";
}

table.dataTable thead .sortingASC:after {
    content: "\e155";
}

table.dataTable thead .sortingDESC:after {
    content: "\e156";
}


.pos {
    position: relative;
}