<div class="row">
    <div class="col-md-4">
        {% include(customerView.getFieldsFilterTemplate())  %}
    </div>

    <div class="col-md-8">
        {% include(customerView.getSegmentsFilterTemplate())  %}
    </div>
</div>