name: "Static Analysis"

on:
    pull_request:
        branches:
            - "[0-9]+.[0-9]+"
            - "[0-9]+.x"
    push:
        branches:
            - "[0-9]+.[0-9]+"
            - "[0-9]+.x"

jobs:
    static-analysis-phpstan:
        name: "Static Analysis with PHPStan"
        runs-on: "ubuntu-20.04"
        continue-on-error: ${{ matrix.experimental }}
        strategy:
            matrix:
                include:
                    - { php-version: "8.0", dependencies: "lowest", experimental: false  }
                    - { php-version: "8.1", dependencies: "highest", experimental: false  }
                    - { php-version: "8.1", dependencies: "highest", pimcore_version: "11.x-dev as 11.0.0", experimental: true }
        steps:
            - name: "Checkout code"
              uses: "actions/checkout@v2"

            - name: "Install PHP"
              uses: "shivammathur/setup-php@v2"
              with:
                  coverage: "none"
                  php-version: "${{ matrix.php-version }}"

            - name: "Setup Pimcore environment"
              env:
                  DEPENDENCIES: "${{ matrix.dependencies }}"
              run: |
                  .github/ci/scripts/setup-environment.sh

            - name: "Update Pimcore version"
              env:
                PIMCORE_VERSION: "${{ matrix.pimcore_version }}"
              run: |
                if [ ! -z "$PIMCORE_VERSION" ]; then
                      composer require --no-update pimcore/pimcore:"${PIMCORE_VERSION}"
                fi    

            - name: "Install dependencies with Composer"
              uses: "ramsey/composer-install@v2"
              with:
                  dependency-versions: "${{ matrix.dependencies }}"

            - name: "Run a static analysis with phpstan/phpstan (highest)"
              if: ${{ matrix.dependencies == 'highest' }}
              run: "vendor/bin/phpstan analyse --memory-limit=-1"

            - name: "Run a static analysis with phpstan/phpstan (lowest)"
              if: ${{ matrix.dependencies == 'lowest' }}
              run: "vendor/bin/phpstan analyse --memory-limit=-1 -c phpstan-lowest.neon"

            - name: "Generate baseline file"
              if: ${{ failure() }}
              run: "vendor/bin/phpstan analyse --memory-limit=-1 --generate-baseline"

            - name: "Upload baseline file"
              if: ${{ failure() }}
              uses: actions/upload-artifact@v2
              with:
                  name: phpstan-baseline.neon
                  path: phpstan-baseline.neon
